html,
body {
    height: 100vh !important;
    width: 100vw !important;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

* {
    user-select: none;
}

.div-heading > h1 {
    color: #636363;
}

form label {
    font-size: clamp(1rem, 0.7981rem + 0.6731vw, 1.875rem);
    color: #fff;
}

form input,
form select,
.input-group-text {
    height: 4rem;
}

.input-group-text {
    font-size: clamp(1rem, 0.8846rem + 0.3846vw, 1.5rem);
}

.edit,
.save {
    cursor: pointer;
    top: 10%;
    right: 0;
}

.btn-edit {
    color: #fff;
    border: 0;
    width: 5vw;
    background-color: #f49c29;
    font-size: clamp(1rem, 0.9279rem + 0.2404vw, 1.3125rem);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-save {
    color: #fff;
    border: 0;
    width: 5vw;
    background-color: #50aa12;
    font-size: clamp(1rem, 0.9279rem + 0.2404vw, 1.3125rem);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.span-edit,
.span-save {
    font-size: clamp(1rem, 0.9279rem + 0.2404vw, 1.3125rem);
    border: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.table-responsive {
    font-size: clamp(1rem, 0.9279rem + 0.2404vw, 1.3125rem);
}

.table-header th {
    border: 0;
}

table {
    margin-bottom: 0 !important;
}

th,
td {
    vertical-align: middle;
}

th {
    text-align: center;
}

.table1 {
    border-radius: 20px;
    border: 5px solid #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.table1 th {
    color: #454545;
    background-color: #ffce5b;
}

.table1 > table {
    background-color: #6ea9c0 !important;
}

.table2 {
    border-radius: 20px 20px 0 0;
    border: 1px solid black;
    margin-top: 2rem;
}

.table2 th {
    color: #fff;
    background-color: #091953;
    /* background-color: #f19a2d; */
    padding: 1rem 0;
}

.table3 {
    border-radius: 0 0 20px 20px;
}

.table3 th {
    color: #fff;
    background-color: #091953cf;
    /* background-color: #f9b824; */
}

.table3 th {
    border: 1px solid #fff;
}

.table3 td {
    border: 1px solid #dee2e6;
}

.table3 th {
    border-top: 0;
}

.table3 tr:nth-child(2) th:nth-child(n + 1) {
    background-color: #f33936a6;
    /* background-color: #f19a2d; */
}

.order {
    width: 5%;
    text-align: center;
}

.bib {
    width: 6%;
    text-align: center;
}

.name {
    width: 20%;
}

.club {
    width: 15%;
}

.bo3 {
    width: 7%;
    text-align: center;
}

.comment {
    width: 5%;
    text-align: center;
}

.result {
    text-align: center;
}

.record {
    width: 7%;
    text-align: center;
}

.ranking {
    width: 7%;
    text-align: center;
}

.card-button {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
    background-color: #253648cc !important; /* Blue background color */
    color: #fff !important; /* White text color */
    border: none; /* No border */
    padding: 10px 20px !important; /* Padding */
    border-radius: 20px !important; /* Rounded corners */
    cursor: pointer !important; /* Cursor style */
    transition: background-color 0.3s !important; /* Smooth background color transition */
    width: 25vw;
    height: 20vw;
}

.card-button > img {
    width: 60%;
}

.button-admin {
    padding: 0.25vw 1.5vw;
    font-size: clamp(0.75rem, 0.5625rem + 0.625vw, 1.5625rem);
}

.button-sidebar > button[title]:hover::after {
    color: black;
    content: attr(title);
    position: fixed;
    margin-left: 1vw;
}

input[name="search_athlete"] {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-clip: padding-box;
}

.table-show-data th {
    color: #fff;
    background-color: #091953cf;
    border: 1px solid #dee2e6;
}

.table-video th {
    color: #fff;
    background-color: #091953cf;
    border: 1px solid #dee2e6;
}

.table-show-data th:first-child,
.table-video th:first-child {
    border-top-left-radius: 15px;
    border-top: 0;
    border-left: 0;
}

.table-show-data th:last-child,
.table-video th:last-child {
    border-top-right-radius: 15px;
    border-top: 0;
    border-right: 0;
}

.table-video td {
    border: 1px solid #dee2e6;
    background-color: #ccc;
}

