/* Import font */
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Inter:wght@300&family=Mitr:wght@200;300;400;500;600;700&family=Noto+Sans+Thai&display=swap");
/* เพิ่มสไตล์เพิ่มเติมที่นี่ */

* {
    font-family: "Mitr", sans-serif;
    font-weight: 200;
    font-style: normal;
}
