:root {
    --navbar-height: 70px;
}

nav {
    height: 70px;
}

main {
    position: relative;
    height: calc(100% - var(--navbar-height));
}

.navbar {
    background: linear-gradient(
        88deg,
        #afc1ef,
        rgb(166, 190, 251) 62%,
        white 100%
    );
}

.navbar-logo {
    width: 2rem;
    margin-right: 0.75rem;
}